#main-logo{
  width: 40px;
}
#menuContainer{
  background: #8dd2f3;
  background: -moz-linear-gradient(top, #8dd2f3 0%, #43b5eb 50%, #39abe1 51%, #3cb2ea 100%);
  background: -webkit-linear-gradient(top, #add2f3 0%, #43b5eb 50%, #39abe1 51%, #3cb2ea 100%);
  background: linear-gradient(to bottom, #8dd2f3 0%, #43b5eb 50%, #39abe1 51%, #3cb2ea 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd2f3', endColorstr='#3cb2ea', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dd2f3', endColorstr='#3cb2ea', GradientType=0);
  -webkit-box-shadow: 0px 12px 17px -3px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 12px 17px -3px rgba(0,0,0,0.59);
  box-shadow: 0px 12px 17px -3px rgba(0,0,0,0.59);
  position: fixed;
  width: 100%;
  z-index: 9;
  height: 56px;
  top: 0px;
  border-top: 1px solid white;
}
.branding{
  padding: 5px !important;
  border-top: none !important;
  border-right: none !important;
}
#menuContainer > .item{
  padding: 15px;
  color: white;
  cursor: default;
  display: inline-block;
}
