<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      Nueva Solicitud
      <a class="closeButton " (click)="close()">X</a>
    </div>
    <div class="modal-body" style="height: auto">
      <div class="row">
        <div class="col-md-auto">
          <img src="assets/img/generic_avatar.png" class="img-fluid">
        </div>
        <div class="col-md">
          <b>{{currentRequest.sender}}</b>
          <small>Te ha Enviado esta Solicitud</small>
        </div>
        <hr>
        <h4>Deseas Agregar a esta persona?</h4>
        <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes"><label for="add-yes">Si quiero agregarlo!</label><br>
        <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no"><label for="add-no">No quiero agregarlo!</label><br>
        <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later"><label for="add-later">Agregar despues!</label><br>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" (click)="accept()">OK</a>
      <a class="btn btn-default" (click)="close()">Cerrar</a>
    </div>
  </div>
</div>
