<div id='profileContainer'>
  <div class="container pato45">
    <div class="row">
      <div class="col-md-3">
        <div class="avatarFrameOnline">
          <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
        <hr>
        <div>
          <span>Change Avatar</span><br>
          <label class='custom-file-upload'>
            <input type="file">
            Upload Avatar
          </label>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <label fixed>Nick</label>
          <input type="text" class="form-control">
        </div>
        <div>
            <label fixed>Subnick</label>
            <input type="text" class="form-control">
          </div>
          <div>
              <label fixed>Email</label>
              <input type="email" disabled class="form-control">
            </div>
            <div>
                <label fixed>Status</label>
                <select class="form-control">
                  <option value="online">Online</option>
                  <option value="busy">Busy</option>
                  <option value="away">Away</option>
                  <option value="appear_offline">Offline</option>
                </select>
              </div>
              <hr>
              <a class="btn btn-primary btn-block">Save</a>
      </div>
    </div>
  </div>
</div>
